fastapi==0.121.3
uvicorn==0.38.0

# Database
psycopg2-binary==2.9.11

# Cache
redis==7.1.0

# Object storage / HTTP
requests==2.32.5
python-multipart==0.0.20

# Config
python-dotenv==1.2.1
pydantic==2.12.4
pydantic-settings==2.12.0

# Utils
boto3>=1.34.0
